<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="ConfigConnectionString" connectionString="Data Source=localhost;Initial Catalog=AgentKenConfig;User ID=sa;Password=Pass123!;Connection Timeout=3600" providerName="System.Data.SqlClient" />
        <add name="SourceConnectionString" connectionString="USER ID=system;DATA SOURCE=20.114.38.166/oratest1;PASSWORD=OraPasswd1" providerName="Oracle.ManagedDataAccess.Client" />
        <add name="DestinationConnectionString" connectionString="Data Source=localhost;Initial Catalog=kensci1;User ID=sa;Password=Pass123!;Connection Timeout=3600" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        
    </appSettings>
</configuration>