<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="ConfigConnectionString" connectionString="Data Source=localhost;Initial Catalog=AgentKenConfig;User ID=sa;Password=Pass123!;Connection Timeout=3600" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        
    </appSettings>
</configuration>