<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="SqlServerConnectionString" connectionString="Data Source=localhost;Initial Catalog=kensci0;User ID=sa;Password=Pass123!;Connection Timeout=3000" providerName="System.Data.SqlClient" />
        <add name="OracleServerConnectionString" connectionString="USER ID=poojan;DATA SOURCE=localhost/orclpd1;PASSWORD=pass123" providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    
    <appSettings>
        
    </appSettings>
</configuration>